<html>
<head>
    <h2>University of Stirling</h2>
    <h2>Computing Science and Mathematics</h2>
    <h2>MATPMD1 Statistics for Data Science</h2>
    <h1>Lab Session 3
    </h1>  
</head>

<p>
    The focus of this week is performing one-way ANOVA and chi-squared tests. Try to do nos.1, 4 and 5 using a hand calculation. Questions 2 and 3 try using R to run the test. You may wish to plot the data. I would suggest that you do the hand calculations separately, then use the aov() function in R to confirm your answer for the one-way ANOVA. This is to get you thinking about the formulae that underly the tests.
</p>
<p>
    The data for each of the questions can be found in the file MATPMD1LabSession3Data.xlsx. To read an excel spreadsheet in using R, install the "readxl" library and use the following commands:
    </p>

In [2]:
library("readxl")
# read the data from the excel spreadsheet
Lab3data <- read_excel("MATPMD1LabSession3Data.xlsx")
# see what the column names in the data are
colnames(Lab3data)
# tell R that we want to use the column names as variable names 
# to access the data. Note that at the end of your session use the 
# detach(Lab3Data) command to remove these variable names.
attach(Lab3data)
#detach(Lab3data)

Registered S3 methods overwritten by 'tibble':
  method     from
  format.tbl pillar
  print.tbl  pillar

[1] "Q1Group"   "Q1Gender"  "Q1Correct" "Q2Strain"  "Q2Days"    "Q3Group"
[7] "Q3BPFall"

In [3]:
##use this function to view table
View(Lab3data)

   Q1Group Q1Gender Q1Correct Q2Strain Q2Days Q3Group Q3BPFall
1   1      M         9        9D        3     Group1  10.5
2   1      F         8        9D        4     Group1   8.5
3   1      F         8        9D        6     Group1   6.2
4   1      F         9        9D        5     Group1   9.5
5   1      M         7        9D        2     Group2   9.7
6   1      M         7        9D        4     Group2  11.4
7   2      M         2        9D        4     Group2   9.2
8   2      F         5        9D        3     Group2   8.6
9   2      M         4        9D        5     Group3   3.2
10  2      F         3        11C       8     Group3   4.7
11  2      F         4        11C       9     Group3   6.7
12  2      F         3        11C       5     Group3   4.1
13  3      F         9        11C       8     Group4   6.1
14  3      M         3        11C       4     Group4   7.3
15  3      M         7        11C       7     Group4   7.4
16  3      M         8        11C       6     Group4   7.8
17  3      M         5        11C       9     NA        NA
18  3      F         6        11C       9     NA        NA
19  4      F         5        DCS1      8     NA        NA
20  4      F         7        DCS1     10     NA        NA
21  4      M         3        DCS1     12     NA        NA
22  4      F         6        DCS1      6     NA        NA
23  4      M         7        DCS1      8     NA        NA
24  4      M         4        DCS1      7     NA        NA
25 NA      NA       NA        DCS1     11     NA        NA
26 NA      NA       NA        DCS1      5     NA        NA
27 NA      NA       NA        DCS1      7     NA        NA

<p>
    You can see that each question has a number of columns of data associated with it. For example the first questions has two columns Q1Group and Q1Correct. The final R command shown here, "attach(Lab3data)", allows you to use the column names as variable names in R to make accessing the data look a lot cleaner in your R code.
</p>

<h3>3.1
</h3>
<p>
    A random sample of 24 ten year old children was randomly divided into four groups in order to study pattern recognition skills.  Each child is given a pattern recognition test with 10 patterns to identify. Children in Group 1 were given praise for each correct answer and no comment on wrong answers; Group 2 were given criticism for each wrong answer and no comment for correct answers; Group 3 were given no praise or criticism but the observer expressed interest in what the child was doing; and children in Group 4 were left on their own to complete the test. The data showing the number of correct answers given by each child ( ; i = 1, ... 4 ; j = 1,...6)  are presented in columns Q1Correct and Q1Group.
</p>
<p>
    Are there any differences in the group means?
</p>

In [14]:
# Any differences in Group means indicates One-way anova test with H0: a1=a2=a3=a4 & H1: a1=!a2=!a3=!a4 
library("stats")
paste(Q1Group)
q1cor <- na.omit(Q1Correct) # use this to remove n/a values in columns
q1cor 

q1grp <- factor(na.omit(Q1Group))       #Append the Q1group into factor datatype for aov parse
q1grp

# 3.1 is a one way anova has the only grouping factor is the 4 groups (Note: Gender was not specified as a factor in the problem)

#call Anova function
ano <- aov(q1cor~q1grp)
summary(ano)


#conclusion: 
# The Observed Test Statistic 9.212 is in the Rejection Region (it 
# is > 3.10) and the p-value is less than 0.001 so we can reject H0 in
# favour of H1 at the 5% level. This there is sufficient evidence that
# the mean number of correct answers is not the same for all four pattern
# recognition skills groups.

 [1] "1"  "1"  "1"  "1"  "1"  "1"  "2"  "2"  "2"  "2"  "2"  "2"  "3"  "3"  "3"
[16] "3"  "3"  "3"  "4"  "4"  "4"  "4"  "4"  "4"  "NA" "NA" "NA"

 [1] 9 8 8 9 7 7 2 5 4 3 4 3 9 3 7 8 5 6 5 7 3 6 7 4
attr(,"na.action")
[1] 25 26 27
attr(,"class")
[1] "omit"

 [1] 1 1 1 1 1 1 2 2 2 2 2 2 3 3 3 3 3 3 4 4 4 4 4 4
Levels: 1 2 3 4

            Df Sum Sq Mean Sq F value   Pr(>F)
q1grp        3  63.79  21.264   9.212 0.000495 ***
Residuals   20  46.17   2.308
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

<h3>3.2
</h3>
<p>
    Data columns Q2Days and Q2Strain show the number of days to death of mice inoculated with three strains of typhoid organism. Carry out an analysis of variance to test whether the differences between the means are significant. Assume that the tests were carried out on independent groups of mice.

In [17]:
q2s <- factor(Q2Strain)

an1 <- aov(Q2Days~q2s)
summary(an1)


# The Observed Test Statistic (12.65) is in the Rejection Region (>3.40) and
# p-value is < 0.0001 (NB P(F(2.24)>9.34)=0.0001) so we can reject H0 in
# favour of H1 at the 5% level and conclude that there is sufficient
# evidence at the 5% level fo a difference somewhere in the mean number of
# days to death for the three strains of mice.

            Df Sum Sq Mean Sq F value   Pr(>F)
q2s          2  87.63   43.81   12.65 0.000177 ***
Residuals   24  83.11    3.46
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

<h3>3.3
</h3>
<p>
    Four groups of patients suffering from hypertension were given different hypotensive drugs. The fall in systolic blood pressure over one day was measured for each patient. The results are given in data columns Q3BPFall and Q3Group.
</p>
<p>
    	Apply an appropriate test to examine whether there is a difference in the average fall in blood pressure between the drugs. What conclusion can you make from these results?
</p>

In [20]:
#Lab3data
# One way Anova solution "single factor"
q3g <- factor(na.omit(Q3Group))

fall <- na.omit(Q3BPFall)

an2 <- aov(fall~q3g)
summary(an2)

            Df Sum Sq Mean Sq F value Pr(>F)
q3g          3  57.69  19.229   10.15 0.0013 **
Residuals   12  22.73   1.894
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

<h3>3.4
</h3>
<p>
    The following results were obtained from a study to investigate the viewing habits of people living in Scotland. The responses examined below is the number of hours of television watched each week by an individual and their age and gender. Number of hours viewing is coded as either less than 21 hours or 21 greater than 21 hours per week and Age is coded as less than 18, between 18 and 50, and over 50.
</p>
    <table>
    <thead>
      <tr>
        <th>Male</th>
        <th>$\quad$</th>
        <th>Age</th>
        <th>$\quad$</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>$\quad$</td>
          <td>under 18</td>
          <td>18-50</td>
          <td>over 50</td>
      </tr>
      <tr>
          <td>under 21 hours</td>
          <td>10</td>
          <td>20</td>
          <td>9</td>
      </tr>
      <tr>
          <td>over 21 hours</td>
          <td>10</td>
          <td>4</td>
          <td>11</td>
      </tr>
    </tbody>
    </table>
    <table>
    <thead>
      <tr>
        <th>Female</th>
        <th>$\quad$</th>
        <th>Age</th>
        <th>$\quad$</th>
     </tr>
    </thead>
    <tbody>
      <tr>
          <td>$\quad$</td>
          <td>under 18</td>
          <td>18-50</td>
          <td>over 50</td>
      </tr>
      <tr>
          <td>under 21 hours</td>
          <td>18</td>
          <td>18</td>
          <td>12</td>
      </tr>
      <tr>
          <td>over 21 hours</td>
          <td>12</td>
          <td>4</td>
          <td>8</td>
      </tr>
    </tbody>
    </table>
    <ul>
            <li>Are Age and Number of hours of TV watched associated for either gender?
            </li>
			<li>Prior to using the formal test, calculate proportions to form a subjective impression.
			</li>
			<li>Is there an association between Age and Number of hours of TV watched in the general population as estimated by this sample?
            </li>			
			<li>
			Compare the above results.
            </li>

<h3>3.5
</h3>
<p>
    A random sample of 500 units is taken from each day’s production and inspected for defective units. The number of defectives recorded in the last working week were as follows:
    <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Number of defectives</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>Monday</td>
          <td>15</td>
      </tr>
      <tr>
          <td>Tuesday</td>
          <td>8</td>
      </tr>
      <tr>
          <td>Wednesday</td>
          <td>5</td>
      </tr>
      <tr>
          <td>Thursday</td>
          <td>5</td>
      </tr>
      <tr>
          <td>Friday</td>
          <td>12</td>
      </tr>
    </tbody>
    </table>
<p>		
    Test the hypothesis that the difference between the days is due to chance.
</p>

In [27]:
#day <- factor(c('mon','tues','wed','thur','fri',
#               'mon','tues','wed','thur','fri'))
#defe <- c(15,8,5,5,12,
#         485,492,495,495,488)
#an5 <- aov(defe~day)
#summary(an5)

            Df Sum Sq Mean Sq F value Pr(>F)
day          4      0       0       0      1
Residuals    5 580966  116193