<html>
<head>
    <h2>University of Stirling</h2>
    <h2>Computing Science and Mathematics</h2>
    <h2>MATPMD1 Statistics for Data Science</h2>
    <h1>Week 1 Let's get going with R
    </h1>  
</head>

<body>
    <p>DO NOT worry if this is the first time you have used R, or indeed any statistical or mathematical programming language. You are not expected to work this out for yourself. We will go through the R commands that we will us in the lab sessions and I have put examples below so that you can copy into RStudio, or run in a Jupyter R Notebook. You will find that all you need is a very few commands which in a short time will become familiar.
    </p>
</body>

<body>
    <h1>Some tips for R commands that you may find useful
    </h1>
    <p>The next few code cells are to give a few pointers to those who haven't used R before, giving some hints as to what commands you might need to use to get going with calculating some of the numerical statistics.
    </p>
    <p>I have demonstrated these commands using a Jupyter R Notebook, but you can copy and paste to run these in RStudio as well. Use whichever tool you feel most useful to you. Both tools are using the R programming language
    </p>
</body>

In [1]:
# This cell in the Jupyter Notebook is an R code cell. You can tell it is
# a code cell by looking in the tabs above to the right of the one that 
# says Run you should see it saying Code. 
# You can use the Run button to run the R code to see if it works. You can
# also press shift-Enter to run the cell.
#
# If you're wondering why these lines are all starting with #, the are called 
# comments and are our way of telling R not to interpret these as commands. 
# Try removing a hash and see whether R likes it.
#
# Now for some base commands. We are going to concentrate on what we need to 
# calculate our startistical summaries. So, we need to add up some numbers and
# divide by another number. Always remember that the real skill is in knowing what
# the formulae are, what numbers to put in the formulae, and then interpreting 
# the results.
#
# So, if I wanted to calculate the mean of 1,2,3 and 4, I want to sum up the
# numbers:

1+2+3+4

[1] 10

In [2]:
# And then I want to divide by 4 so I use the "/" symbol to mean divide:

1+2+3+4/4

[1] 7

In [3]:
# Uh oh! what went wrong there? Well, we need to remember to bracket all the numbers 
# as R doesn't realise we want to divide them all by 4. So here goes:

(1+2+3+4)/4

[1] 2.5

In [4]:
# That looks right, so now we're on the right track. You can also use a function
# in R called sum(). Note how we pass the values we want to sum as what we call
# parameters to the function, separated by commas.

sum(1,2,3,4)/4

[1] 2.5

In [5]:
# So let's try that and store our result in a new variable called mean1234 using the 
# assignment operator "<-". 

mean1234 <- sum(1,2,3,4)/4

# So we have stored the result in mean1234. In order to see the result we need to 
# type the variable name:

mean1234

[1] 2.5

In [6]:
# Or if on the first command with the assignment we put round brackets round the 
# statement then R will display the result. 

(mean1234 <- sum(1,2,3,4)/4)

[1] 2.5

In [7]:
# One final step is that we may wish to pass this set of numbers into another function,
# and it starts to get a bit messy. So we are going to set up what is called a vector
# using the c() function in R. This vector is an ordered list of values. 
# If we do this we can store our list in a variable name and use it to pass to other functions. 
# In the case above this will be sum(). Note that I am using  the function cat() just to make the 
# output more legible in the Jupyter R Notebook. You don't have to do this.
#
# First set up our vector:

v1 <- c(1,2,3,4)

# Let's see what it looks like:
cat('The contents of v1 are:')
v1

# And check its length. This might be useful if we want to know how many elements are
# stored in the vector. The length() function is another useful R function.
cat('The length of v1 is:')
length (v1)

# Now pass the vector as a parameter to sum() and check we get the result we expect
cat('The sum of all the elements of v1 are:')
sum(v1)

The contents of v1 are:

[1] 1 2 3 4

The length of v1 is:

[1] 4

The sum of all the elements of v1 are:

[1] 10

In [8]:
# So pulling it all together we have:

# set up a vector of the numbers we want to get the mean for
v1 <- c(1,2,3,4)

# store the mean in our variable mean1234
mean1234 <- sum(v1)/length(v1)

# and check we got the answer right
cat('The mean of 1,2,3,4 is:')
mean1234

The mean of 1,2,3,4 is:

[1] 2.5

In [9]:
# Finally you may notice in some of the R snippets in the Week 1 content we set up a data frame. Think of this as your
# spreadsheet with columns of data with a label, and then rows of data showing values for each of the columns. Here is 
# an example that we use to set up a data from with 4 rows of data. The first column is called parties, so in each of 
# the four rows are the entry in the first column is of a political party. The following five columns are labelled with 
# a voting class: A, B, C1, C2 and D respectively. The contents under each column of data for each row contain the 
# number of votes for each party for that column's social class. 
# Note that we store the dataframe in the variable named pprefs.df using the assignment operator "<-".

pprefs.df <- data.frame(parties = c("Tory","Labour","Lib-Dem", "Other"),
                       A = c(110,11,37,2),
                       B = c(420,99,237,8),
                       C1 = c(321,119,143,12),
                       C2 = c(353,363,205,9),
                       D = c(183,286,134,6))

# So how does R show us the contents of pprefs.df. To see we just type the variable name
pprefs.df

  parties A   B   C1  C2  D
1 Tory    110 420 321 353 183
2 Labour   11  99 119 363 286
3 Lib-Dem  37 237 143 205 134
4 Other     2   8  12   9   6

In [10]:
# To access particular columns of data we use $. For example to find the values for the A social class we use:

pprefs.df$A

[1] 110  11  37   2

In [11]:
# Note that you can copy all the code in the cells above and paste them into RStudio. Make sure you get the 
# same answers!

# Or in this Jupyter R Notebook you can dynamically change the values in the code cells above and run them. See if you
# can find the mean of all the whole numbers between 1 and 10.